@import "src/styles.sass"

.switch-language__btn-group
    button
        padding: 0 .25rem
        min-width: min-content
        border-radius: 0
        line-height: 1rem
        color: $base-light-gray-color
    .selected
        color: $base-dark-gray-color
        font-weight: $bold-text
    button + button
        border-left: 1px solid $base-light-gray-color