<form [formGroup]="addNewPrintJobForm" #addNewPrintJobFormRef="ngForm" class="form__container"  novalidate>
    <div class="spinner-container" *ngIf="ifLoading">
        <mat-spinner></mat-spinner>
    </div>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{ "CREATE_NEW_PRINT_JOB_FORM.CREATED_BY" | translate }}</mat-label>
        <input matInput formControlName="createdBy">
        <mat-error
            *ngIf="createdBy?.errors?.required">
            {{ "CREATE_NEW_PRINT_JOB_FORM.VALIDATION_REQUIRED" | translate }}
        </mat-error>
    </mat-form-field>
    <div class="time-settings__wrapper">
        <mat-form-field appearance="fill">
            <mat-label>{{ "CREATE_NEW_PRINT_JOB_FORM.ESTIMATED_DURATION" | translate }}</mat-label>
            <input type="number" min="1" step="1" matInput formControlName="estimatedDuration">
            <mat-error
              *ngIf="estimatedDuration?.hasError('required') && !estimatedDuration?.hasError('pattern')">
              {{ "CREATE_NEW_PRINT_JOB_FORM.VALIDATION_REQUIRED" | translate }}
            </mat-error>
            <mat-error
              *ngIf="estimatedDuration?.hasError('pattern')">
              {{ "CREATE_NEW_PRINT_JOB_FORM.VALIDATION_INCORRECT_VALUE" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{ "CREATE_NEW_PRINT_JOB_FORM.CREATED_DATE" | translate }}</mat-label>
            <input matInput formControlName="createdDate" type="datetime-local">
        </mat-form-field>
    </div>
    <div formGroupName="startDate" class="set-start-time__wrapper">
        <mat-form-field appearance="fill">
            <mat-label>{{ "CREATE_NEW_PRINT_JOB_FORM.START_DAY" | translate }}</mat-label>
            <input
              matInput
              [matDatepicker]="startDayPicker"
              formControlName="startDay"
              [min]="currentDay"
              (dateInput)="getStartDay('input', $event)"
              (dateChange)="getStartDay('change', $event)"
            >
            <mat-datepicker-toggle matSuffix [for]="startDayPicker"></mat-datepicker-toggle>
            <mat-datepicker #startDayPicker></mat-datepicker>
            <mat-error
              *ngIf="startDay?.hasError('required')">
              {{ "CREATE_NEW_PRINT_JOB_FORM.VALIDATION_REQUIRED" | translate }}
            </mat-error> 
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{ "CREATE_NEW_PRINT_JOB_FORM.START_TIME" | translate }}</mat-label>
            <input matInput formControlName="startTime" type="time">
            <mat-error
              *ngIf="startTime?.hasError('required')">
              {{ "CREATE_NEW_PRINT_JOB_FORM.VALIDATION_REQUIRED" | translate }}
            </mat-error>
        </mat-form-field>
    </div>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{ "CREATE_NEW_PRINT_JOB_FORM.FILE_NAME" | translate }}</mat-label>
        <input matInput formControlName="fileName">
        <mat-error
            *ngIf="fileName?.hasError('required') && !fileName?.hasError('pattern')">
            {{ "CREATE_NEW_PRINT_JOB_FORM.VALIDATION_REQUIRED" | translate }}
        </mat-error>
        <mat-error
            *ngIf="fileName?.hasError('pattern')">
            {{ "CREATE_NEW_PRINT_JOB_FORM.VALIDATION_INCORRECT_FILENAME" | translate }}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{ "CREATE_NEW_PRINT_JOB_FORM.JOB_DESCRIPTION" | translate }}</mat-label>
        <textarea matInput formControlName="jobDescription"></textarea>
        <mat-error
          *ngIf="jobDescription?.hasError('required') && !jobDescription?.hasError('maxlength')">
          {{ "CREATE_NEW_PRINT_JOB_FORM.VALIDATION_REQUIRED" | translate }}
        </mat-error>
        <mat-error
          *ngIf="jobDescription?.hasError('maxlength')">
          {{ "CREATE_NEW_PRINT_JOB_FORM.VALIDATION_TOO_LONG" | translate }}
        </mat-error>
    </mat-form-field>
    <div class="printer-settings__wrapper">
        <mat-form-field appearance="fill">
            <mat-label>
                {{ "CREATE_NEW_PRINT_JOB_FORM.PRINTER_MODEL" | translate }}
            </mat-label>
            <input matInput formControlName="printerModel">
            <mat-error
            *ngIf="printerModel?.errors?.required">
            {{ "CREATE_NEW_PRINT_JOB_FORM.VALIDATION_REQUIRED" | translate }}
        </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>
                {{ "CREATE_NEW_PRINT_JOB_FORM.PRINTER_TYPE" | translate }}
            </mat-label>
            <input matInput formControlName="printerType">
            <mat-error
                *ngIf="printerType?.errors?.required">
                {{ "CREATE_NEW_PRINT_JOB_FORM.VALIDATION_REQUIRED" | translate }}
            </mat-error>
        </mat-form-field>
    </div>
    <div class="controls__wrapper">
        <button
          (click)="onSubmit(addNewPrintJobFormRef)"
          mat-stroked-button
          color="primary"
          [disabled]="addNewPrintJobForm && (ifLoading || addNewPrintJobForm.pristine || addNewPrintJobForm.invalid)">
          {{ "CREATE_NEW_PRINT_JOB_FORM.SUBMIT_BTN" | translate }}
        </button>
        <button
          type="button"
          (click)="onCancel(addNewPrintJobFormRef)"
          mat-stroked-button
          color="warn">
          {{ "CREATE_NEW_PRINT_JOB_FORM.CANCEL_BTN" | translate }}
        </button>
    </div>
</form>
