.table-container
    text-align: center
    margin: 0 auto
    .spinner-container
        position: fixed
        display: inline-block
        mat-spinner
            margin: 10rem  auto 0 auto
    .empty-print-jobs__list
        line-height: 3rem
        color: rgba(0, 0, 0, 0.54)
        font-style: italic
        text-align: center

th[mat-header-cell]
    text-align: center
    &.long-line__heading
        width: 10rem

.mat-cell
    &.long-line__item
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        display: inline-block
        line-height: 3rem 

