.table-container
    text-align: center
    margin: 0 auto

th[mat-header-cell]
    text-align: center


.spinner-container
    position: fixed
    display: inline-block
    mat-spinner
        margin: 5rem  auto 0 auto