<div class="table-container">
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>
    
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>
    
        <!-- createdBy Column -->
        <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef> CREATED BY </th>
            <td mat-cell *matCellDef="let element"> {{ element.createdBy}} </td>
        </ng-container>
    
        <!-- createdDate Column -->
        <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef> CREATED DATE </th>
            <td mat-cell *matCellDef="let element"> {{ element.createdDate | date: 'medium' }} </td>
        </ng-container>

        <!-- startDate Column -->
        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef> START DATE </th>
            <td mat-cell *matCellDef="let element"> {{ element.startDate | date: 'medium' }} </td>
        </ng-container>
    
        <!-- estimatedDuration Column -->
        <ng-container matColumnDef="estimatedDuration">
            <th mat-header-cell *matHeaderCellDef> ESTIMATED DURATION </th>
            <td mat-cell *matCellDef="let element"> {{ element.estimatedDuration }} </td>
          </ng-container>
    
        <!-- fileName Column -->
        <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef class="long-line__heading"> FILE NAME </th>
            <td
              mat-cell
              *matCellDef="let element"
              matTooltip="{{ element.fileName }}"
              matTooltipClass="mat-tooltip"
              matTooltipPosition="below"
              class="long-line__item"
              > {{ element.fileName }} </td>
        </ng-container>
    
        <!-- jobDescription Column -->
        <ng-container matColumnDef="jobDescription">
            <th mat-header-cell *matHeaderCellDef> JOB DESCRIPTION </th>
            <td mat-cell *matCellDef="let element"> {{ element.jobDescription }} </td>
        </ng-container>
    
        <!-- printerModel Column -->
        <ng-container matColumnDef="printerModel">
            <th mat-header-cell *matHeaderCellDef> PRINTER MODEL </th>
            <td mat-cell *matCellDef="let element"> {{ element.printerModel }} </td>
        </ng-container>
    
        <!-- printerType Column -->
        <ng-container matColumnDef="printerType">
            <th mat-header-cell *matHeaderCellDef> PRINTER TYPE </th>
            <td mat-cell *matCellDef="let element"> {{ element.printerType }} </td>
        </ng-container>
    
        <!-- jobStatus Column -->
        <ng-container matColumnDef="jobStatus">
            <th mat-header-cell *matHeaderCellDef> JOB STATUS </th>
            <td mat-cell *matCellDef="let element"> {{ element.jobStatus }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow class="empty-print-jobs__list">
            <td class="mat-cell" colspan="999">{{ "ALL_JOBS_LIST.EMPTY_PRINT_JOBS_LIST" | translate }}</td>
        </tr>
    </mat-table>   
</div>
